@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.product-card__sales-amount {
    position: relative;
    background: #EF3C3C;
    width: 57px;
    height: 24px;
    border-radius: 12px;
}

.product-card__sales-amount span {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;
    padding-left: 10px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}