@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.pop-up-product-preview__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pop-up-product-preview__main-image--container {
    max-width: 400px;
}

.pop-up-product-preview__main-image {
    width: 328px;
    height: 439px;
}

.pop-up-product-preview__product-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pop-up-product-preview__product-rating-star {
    width: 16px;
    height: 16px;
}

.pop-up-product-preview__product-title {
    font-weight: 700;
    line-height: 120%;
    font-size: 24px;
    letter-spacing: 0;
    font-family: "Montserrat", sans-serif;
}