@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    font-family: 'Montserrat', sans-serif;
    background: #212429;
    width: 115%;
    margin-left: -20px;
}

.footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -40px;
    margin-right: 42px;
}

.footer-column {
    text-align: left;
}

.footer-column h4 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.footer-lists__item {
    list-style: none;
    margin-top: 7px;
    margin-left: 2px;
}

.footer-column.margin-left {
    margin-left: 105px;
}

.footer-column.width-400 {
    width: 400px;
}

.footer-contact {
    position: relative;
    padding-bottom: 10px;
}

.footer-contact__link {
    position: absolute;
    top: 35px;
    left: 70px;
}

.footer-icon {
    display: inline-block;
    margin-right: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer-buttons {
    position: relative;
    top: 20px;
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
}

.footer-buttons img.delivery {
    position: absolute;
    top: 6px;
    left: 9px;
    width: 42px;
    height: 42px;
}

.footer-buttons img.turn-back {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 35px;
    height: 35px;
}

.footer-buttons img.email {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 32px;
    height: 32px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.text-12 {
    font-size: 12px;
}

.text-14 {
    font-size: 14px;
}

.text-16 {
    font-size: 16px;
}

.text-white {
    color: #ffffff;
}

.text-gray {
    color: #737373;
}

.pb-10 {
    padding-bottom: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-55 {
    margin-top: 55px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-118 {
    margin-top: 118px;
}

.footer-lists__heading {
    font-size: 20px;
    line-height: 120%;
    margin-top: 45px;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #ffffff;
}

.footer-lists {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.footer-bottom {
    font-size: 12px;
    font-weight: 500;
    color: #737373;
}

.social-icons {
    padding-top: 100px;
    margin-left: -20px;
}

.social-icons img {
    margin-top: 30px;
    margin-right: 10px;
}

.footer-socials-networks {
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    position: relative;
}

.footer-socials-networks h4 {
    font-weight: 700;
    position: absolute;
    top: 82px;
    left: -44px;
}

.social-icons img.facebook {
    width: 45px;
    height: 45px;
    margin-left: -3px;
    margin-bottom: -2px;
}

.social-icons img.youtube,
.social-icons img.twitter,
.social-icons img.tiktok,
.social-icons img.telegram {
    width: 38px;
    height: 38px;
}

.social-icons img.instagram {
    width: 52px;
    height: 52px;
    margin-bottom: -6px;
}

.payment-systems {
    margin-left: -50px;
    margin-top: 115px;
}

.payment-systems img:hover,
.social-icons img:hover {
    opacity: 0.65;
}

.payment-systems img.belcard {
    width: 105px;
    height: 50px;
}

.payment-systems img.visa {
    width: 80px;
    height: 40px;
    margin-left: -20px;
}

.payment-systems img.mastercard {
    width: 80px;
    height: 40px;
}

.payment-systems img.mir {
    width: 96px;
    height: 37px;
    margin-left: -6px;
}

.footer-contact__link {
    color: #ffffff;
}

.footer-lists__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0;
    opacity: 0.64;
    color: #FFFFFF;
    margin-left: -40px;
}

.social-icons {
    margin-top: -35px;
}

.footer-column:nth-child(2) .footer-bottom {
    margin-top: 115px;
}

.footer-column:nth-child(4) h4 {
    margin-left: 25px;
}

.footer-column:nth-child(4) {
    padding-top: 25px;
}
