@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 6px;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar__logo {
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-family: serif;
    padding-top: 3px;
    padding-right: 10px;
    padding-left: 32px;
}

.navbar__burger {
    position: relative;
    margin-left: 80px;
    width: 33px;
    height: 33px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar__burger--logo {
    position: absolute;
    top: 0;
    left: 3px;
    width: 31px;
    height: 31px;
}

.navbar__center {
    display: flex;
    position: relative;
    align-items: center;
    gap: 16px;
}

.navbar__location {
    display: flex;
    position: absolute;
    top: -23px;
    left: -420px;
    align-items: center;
    gap: 8px;
    width: 279px;
    height: 44px;
    background-color: #FC8BD1;
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
}

.navbar__location:hover {
    background-color: #fca0db;
    box-shadow: 0 0 8px rgba(252, 139, 209, 0.5);
}

.navbar__location:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(252, 139, 209, 0.4);
}

.navbar__location.active {
    background-color: #f76cbf;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.navbar__location__input {
    width: 275px;
    height: 28px;
    border: none;
    font-weight: 400;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 15px;
    line-height: 100%;
    font-family: "Red Hat Display", sans-serif;
    letter-spacing: 0;
    color: #ffffff !important;
    margin-left: 10px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.navbar__location__input::placeholder {
    color: #ffffff !important;
    font-size: 15px;
    font-family: "Red Hat Display", sans-serif;
    opacity: .7;
}

.navbar__location__input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
    background: transparent;
}

.navbar__search {
    display: flex;
    position: absolute;
    top: -24px;
    left: -100px;
    align-items: center;
    padding: 0;
    border-radius: 12px;
    background-color: #FC8BD1;
    width: 384px;
    height: 45px;
}

.navbar__location__logo {
    width: 20px;
    height: 20px;
}

.navbar__location__arrow {
    width: 20px;
    height: 20px;
    padding-left: 83px;
}

.navbar__location__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 28px;
}

.navbar__location__text span:first-child {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0;
    opacity: 0.8;
    color: #FFFFFF;
    font-family: "Red Hat Display", sans-serif;
}

.navbar__location__text span:last-child {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #ffffff;
    padding-top: 4px;
}

.navbar__search--input::placeholder {
    color: #ffffff;
    opacity: .4;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.navbar__search input {
    border: none;
    background: transparent;
    padding-left: 8px;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

.navbar__search--logo {
    width: 20px;
    height: 20px;
    padding-left: 10px;
}

.navbar__right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar__icon {
    position: relative;
    width: 34px;
    height: 34px;
    left: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar__icon img {
    width: 100%;
    height: auto;
}

.navbar__icon img:hover {
    opacity: 0.2;
}

.navbar__badge {
    position: absolute;
    bottom: -4px;
    left: 20px;
    background-color: #fc8bd1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#placement-detection__location_detection_logo {
    position: absolute;
    top: 9px !important;
    left: 10px;
    font-size: 25px;
}